.palette {
    &.temple {
        .col1 { background-color: #cf7b3d ; }
        .col2 { background-color: #574036 ; }
        .col3 { background-color: #cbc7ba ; }
        .col4 { background-color: #9ba7ab ; }
        .col5 { background-color: #808282 ; }
    }
    &.sakura {
        .col1 { background-color: #e39d9b ; }
        .col2 { background-color: #261317 ; }
        .col3 { background-color: #a35256 ; }
        .col4 { background-color: #d53a44 ; }
        .col5 { background-color: #b1a0ac ; }
    }
    &.bamboo {
        .col1 {background-color: #062a1c ; }
        .col2 {background-color: #1c433c ; }
        .col3 {background-color: #bfd092 ; }
        .col4 {background-color: #587c47 ; }
        .col5 {background-color: #769f4d ; }
    }
    &.tower {
        .col1 {background-color: #0e6278 ; }
        .col2 {background-color: #d02c2b ; }
        .col3 {background-color: #d79889 ; }
        .col4 {background-color: #915e5d ; }
        .col5 {background-color: #5c4656 ; }
    }
}
