.palette.temple .col1 {
  background-color: #cf7b3d;
}
.palette.temple .col2 {
  background-color: #574036;
}
.palette.temple .col3 {
  background-color: #cbc7ba;
}
.palette.temple .col4 {
  background-color: #9ba7ab;
}
.palette.temple .col5 {
  background-color: #808282;
}
.palette.sakura .col1 {
  background-color: #e39d9b;
}
.palette.sakura .col2 {
  background-color: #261317;
}
.palette.sakura .col3 {
  background-color: #a35256;
}
.palette.sakura .col4 {
  background-color: #d53a44;
}
.palette.sakura .col5 {
  background-color: #b1a0ac;
}
.palette.bamboo .col1 {
  background-color: #062a1c;
}
.palette.bamboo .col2 {
  background-color: #1c433c;
}
.palette.bamboo .col3 {
  background-color: #bfd092;
}
.palette.bamboo .col4 {
  background-color: #587c47;
}
.palette.bamboo .col5 {
  background-color: #769f4d;
}
.palette.tower .col1 {
  background-color: #0e6278;
}
.palette.tower .col2 {
  background-color: #d02c2b;
}
.palette.tower .col3 {
  background-color: #d79889;
}
.palette.tower .col4 {
  background-color: #915e5d;
}
.palette.tower .col5 {
  background-color: #5c4656;
}

.swatches {
  display: flex;
}
.swatches div {
  min-height: 100px;
  flex-grow: 1;
}

/*# sourceMappingURL=fp.css.map */
